<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivianuu.hidenavbarsubstrantum">

    <uses-feature
        android:name="projekt.substratum.theme"
        android:required="false" /> <!-- Set to true for block to be enabled -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="projekt.substratum.GET_KEYS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="projekt.substratum.THEME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="Substratum_Legacy"
            android:value="@bool/ThemeSupportLegacy"/>
        <meta-data
            android:name="Substratum_Name"
            android:value="@string/ThemeName"/>
        <meta-data
            android:name="Substratum_Author"
            android:value="@string/ThemeAuthor"/>
        <meta-data
            android:name="Substratum_Email"
            android:value="@string/ThemeAuthorEmail"/>
        <meta-data
            android:name="Substratum_Samsung"
            android:value="@bool/ThemeSupportSamsung"/>
        <meta-data
            android:name="Substratum_ThemeReady"
            android:value="@string/ThemeReadyRequirement"/>
        <meta-data
            android:name="Substratum_Wallpapers"
            android:value="@string/ThemeWallpaperSource"/>

        <!-- SUBSTRATUM INTERNAL USE: DO NOT TOUCH -->
        <meta-data
            android:name="Substratum_Plugin"
            android:value="10.0.2"/>
    </application>

</manifest>